@import '../../variables.scss';
.container {
  padding: cvw(100) $padding;
  background: linear-gradient(180deg, #1d4097 0.47%, #3a8ddb 100%);
  @media screen and (max-width: $break-medium) {
    padding: $padding-medium;
  }

  .title {
    font-weight: bold;
    color: $orange-color;
    position: relative;
    z-index: 1;
    font-size: cvw(32);
    @media screen and (max-width: $break-medium) {
      font-size: cvw(48);
      margin-bottom: cvw(48);
    }
  }

  .text {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);
    font-size: cvw(24);
    line-height: cvw(50);
    @media screen and (max-width: $break-medium) {
      font-size: cvw(36);
      line-height: cvw(60);
    }
  }

  img {
    position: relative;
    z-index: 1;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: cvw(815);
    @media screen and (max-width: $break-medium) {
      height: cvw(1000);
    }

    & > div {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: $break-medium) {
        width: unset;
        margin-right: cvw(20);
      }
    }

    img {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .header {
      font-size: cvw(36);
      line-height: cvw(36);
      height: cvw(75);
      @media screen and (max-width: $break-medium) {
        font-size: cvw(54);
        line-height: cvw(54);
        height: unset;
      }
    }
  }
  .section2 {
    & > div {
      margin-top: cvw(40);
    }

    .wireframes {
      display: flex;
      justify-content: space-between;
      & > div {
        width: cvw(445) !important;
        align-self: flex-start !important;
        @media screen and (max-width: $break-medium) {
          width: 32% !important;
        }
      }
    }

    .colors {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .color {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: cvw(32);
        line-height: cvw(60);
        text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);

        & > div {
          position: relative;
          z-index: 1;
        }

        & > div:first-child {
          height: cvw(100);
          width: cvw(100);
          border-radius: cvw(50);
          margin-bottom: cvw(23);
        }
      }
    }
    .fonts {
      color: #ffffff;
      text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);
      font-size: cvw(24);
      line-height: cvw(60);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $break-medium) {
        font-size: cvw(36);
      }

      & > div {
        & > div:first-child {
          font-size: cvw(28);
          margin-bottom: cvw(26);
          @media screen and (max-width: $break-medium) {
            font-size: cvw(42);
          }
        }
      }
    }
    .title span {
      font-weight: normal;
    }

    .designs1 {
      margin-top: cvw(60);
      display: flex;
      justify-content: space-between;
      & > div {
        width: cvw(418) !important;
        align-self: flex-start !important;
        @media screen and (max-width: $break-medium) {
          width: 32% !important;
        }
      }
    }
    .designs2 {
      margin-top: cvw(80);
      margin-bottom: cvw(240);
      display: flex;
      justify-content: space-between;
      & > div {
        width: cvw(240) !important;
        align-self: flex-start !important;
        @media screen and (max-width: $break-medium) {
          width: 19.2% !important;
        }
      }
    }
  }
}
