@import '../../variables.scss';
.button {
  background-color: $orange-color;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: cvw(18);
  text-transform: uppercase;
  width: cvw(260);
  padding: cvw(20);
  border-radius: cvw(39.5);
  cursor: pointer;
  box-shadow: 0px cvw(10) cvw(10) rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: lighten($color: $orange-color, $amount: 15%);
  }
  &:active {
    background-color: darken($color: $orange-color, $amount: 15%);
  }
}
