@import '../../variables.scss';
/***** GENERAL *****/
.home {
  width: 100%;

  button {
    position: relative;
    z-index: 1;
  }
}
.projects,
.about,
.others,
.footer {
  padding: cvw(80) $padding;
  @media screen and (max-width: $break-medium) {
    padding: cvw(40) $padding-medium;
    text-align: center;
  }
}
.title {
  font-weight: bold;
  color: $orange-color;
  position: relative;
  z-index: 1;
}
.text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);
}

.projects,
.about,
.others {
  .title {
    font-size: cvw(36);
    margin-bottom: cvw(66);
    @media screen and (max-width: $break-medium) {
      font-size: cvw(54);
    }
    @media screen and (max-width: $break-small) {
      font-size: cvw(108);
      margin-bottom: cvw(124);
    }
  }
  .text {
    font-size: cvw(24);
    line-height: cvw(50);
    @media screen and (max-width: $break-medium) {
      font-size: cvw(36);
      line-height: cvw(60);
    }
    @media screen and (max-width: $break-small) {
      font-size: cvw(80);
      line-height: cvw(110);
    }
  }
}

/***** HEADER *****/
.bannerText {
  font-size: cvw(300);
  font-weight: bold;
  color: $orange-color;
  position: absolute;
  top: cvw(10);
  opacity: 0.1;
  z-index: 2;
  width: 100%;
  text-align: center;
  @media screen and (max-width: $break-small) {
    top: cvw(60);
  }
}
.header {
  padding: $padding;
  position: relative;
  z-index: 1;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $background-color2;
  height: 100vh;

  .title {
    font-size: cvw(56);
  }

  .text {
    font-weight: 500;
    font-size: cvw(32);
    line-height: cvw(39);
    margin: cvw(162.5) 0;
    max-width: cvw(606);
  }
  .socials {
    .social {
      cursor: pointer;
      margin-right: cvw(97);
      height: cvw(50);
      width: cvw(50);

      &:last-child {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: $break-medium) {
    height: unset;
    padding: $padding-medium;

    .title {
      font-size: cvw(112);
      margin-top: $padding-medium;
    }
    .text {
      font-size: cvw(64);
      line-height: cvw(78);
      max-width: 76%;
    }

    .socials {
      .social {
        margin-right: cvw(97);
        height: cvw(100);
        width: cvw(100);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  @media screen and (max-width: $break-small) {
    padding: $padding-small;
    padding-bottom: cvw(200);

    .title {
      font-size: cvw(168);
      margin-top: $padding;
    }
    .text {
      font-size: cvw(96);
      line-height: cvw(120);
      max-width: 90%;
    }

    .socials {
      .social,
      a {
        display: inline-block;
        margin-right: cvw(150);
        height: cvw(150);
        width: cvw(150);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

/***** PROJECTS *****/
.projects {
  padding-top: cvw(94);

  .project {
    display: flex;
    justify-content: space-between;

    .projectImg {
      display: flex;
      align-items: center;
      max-width: 50%;
      height: auto;
      cursor: pointer;

      img {
        position: relative;
        z-index: 1;
        height: 100%;
        &:last-child {
          margin-left: cvw(117);
        }
      }
    }

    .projectMeta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      text-align: end;
      padding-bottom: cvw(32);
      width: 50%;
      .title {
        font-size: cvw(28);
        margin: 0;
      }
    }

    &:nth-child(odd) {
      margin: cvw(209) 0;
      .projectMeta {
        align-items: flex-start;
        text-align: start;
        padding-bottom: cvw(24);
      }
    }

    &:last-child {
      height: cvw(426);
      .projectMeta {
        padding-bottom: 0;
      }
    }
  }

  & > div:nth-child(2) {
    img.projectImg {
      transform: translateX(cvw(-80));
    }
  }

  & > div:nth-child(3) {
    img.projectImg {
      transform: translateX(cvw(88));
    }
  }

  @media screen and (max-width: $break-medium) {
    padding-top: $padding-medium;

    .project {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      .projectImg {
        display: flex;
        align-items: center;
        height: auto;
        max-width: 66%;
        justify-content: space-evenly;
        width: 100%;
        & > img {
          height: 40vw;
          &:last-child {
            margin-left: unset;
          }
        }
      }

      .projectMeta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-bottom: cvw(32);
        width: 100%;
        .title {
          font-size: cvw(56);
          margin: 0;
        }
        .text {
          margin: cvw(20) 0;
        }
      }

      &:last-child {
        height: unset;
        .projectMeta {
          padding-bottom: 0;
          margin-top: cvw(32);
        }
      }

      &:nth-child(odd) {
        margin: cvw(100) 0;
        flex-direction: column-reverse;
        .projectMeta {
          align-items: center;
          text-align: center;
        }
      }
    }

    & > div:nth-child(2) {
      img.projectImg {
        transform: unset;
        z-index: 1;
      }
    }

    & > div:nth-child(3) {
      img.projectImg {
        transform: unset;
        z-index: 1;
      }
    }
  }
  @media screen and (max-width: $break-small) {
    padding-top: cvw(200);
    .project {
      .projectImg {
        max-width: 90%;
        width: 100%;
        & > img {
          height: 60vw;
        }
      }

      .projectMeta {
        padding-bottom: cvw(32);
        width: 100%;
        .title {
          font-size: cvw(84);
          line-height: cvw(84);
          margin: 0;
        }
        .text {
          margin: cvw(80) 0 cvw(96) 0;
        }
      }

      &:last-child {
        height: unset;
        .projectMeta {
          padding-bottom: 0;
          margin-top: cvw(64);
          margin-bottom: cvw(110);
        }
      }

      &:nth-child(odd) {
        margin: cvw(200) 0;
        flex-direction: column-reverse;
        .projectMeta {
          align-items: center;
          text-align: center;
        }
      }
    }

    & > div:nth-child(2) {
      img.projectImg {
        transform: unset;
        z-index: 1;
      }
    }

    & > div:nth-child(3) {
      img.projectImg {
        transform: unset;
        z-index: 1;
      }
    }
  }
}

/***** ABOUT ME *****/
.about {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      width: 50%;
      p {
        margin: 0;

        &:first-child {
          margin-bottom: cvw(40);
        }
      }
    }

    .avatar {
      position: relative;
      z-index: 1;
      flex: 0 0 auto;
      border-radius: 50%;
      height: cvw(450);
      width: cvw(450);
    }
  }

  @media screen and (max-width: $break-medium) {
    .container {
      display: inline-block;
      .text {
        width: unset;
        text-align: start;
        p:last-child {
          margin-top: cvw(24);
        }
      }

      .avatar {
        position: relative;
        z-index: 1;
        float: right;
        background-clip: content-box;
        shape-outside: ellipse();
        border-radius: 50%;
        height: cvw(600);
        width: cvw(600);
        margin: cvw(20) 0 cvw(20) cvw(20);
      }
    }
  }
  @media screen and (max-width: $break-small) {
    .container {
      .text {
        p:last-child {
          margin-top: cvw(48);
          margin-bottom: cvw(80);
        }
      }

      .avatar {
        height: cvw(850);
        width: cvw(850);
        margin: cvw(10) 0 cvw(10) cvw(10);
      }
    }
  }
}

/***** OTHERS *****/
.others {
  padding-bottom: cvw(50);
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: cvw(72);

    .img {
      width: cvw(150);
      height: auto;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      z-index: 1;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    .row {
      display: flex;
      justify-content: space-between;
      margin-top: unset;
      flex-wrap: wrap;

      .img {
        width: 22%;
        margin-top: cvw(72);
      }
    }
  }
  @media screen and (max-width: $break-small) {
    .row {
      .img {
        width: 23%;
        margin-top: cvw(38.4);
      }
    }
  }
}
