@import '../../variables.scss';
/***** GENERAL *****/
.home {
  width: 100%;
}
.header {
  padding: $padding;
}
.projects,
.about,
.others {
  padding: cvw(80) $padding;
}
.title {
  font-weight: bold;
  color: $orange-color;
}
.text {
  color: #ffffff;
}

.projects,
.about,
.others {
  .title {
    font-size: cvw(36);
    margin-bottom: cvw(66);
  }
  .text {
    font-size: cvw(24);
    line-height: cvw(50);
  }
}

.about,
.others {
  border-top: cvw(8) dotted rgba(255, 255, 255, 0.5);
}

/***** HEADER *****/
.header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $background-color2;

  .title {
    font-size: cvw(56);
  }

  .text {
    font-weight: 500;
    font-size: cvw(32);
    line-height: cvw(39);
    margin: cvw(162.5) 0;
    max-width: cvw(606);
  }
  .socials {
    .social {
      cursor: pointer;
      margin-right: cvw(97);
      height: cvw(50);
      width: cvw(50);

      &:last-child {
        margin: 0;
      }
    }
  }
}

/***** PROJECTS *****/
.projects {
  padding-top: cvw(94);

  .project {
    display: flex;
    justify-content: space-between;

    .projectImg {
      display: flex;
      align-items: center;
      max-width: 50%;
      height: auto;

      img {
        height: 100%;
        &:last-child {
          margin-left: cvw(117);
        }
      }
    }

    .projectMeta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      text-align: end;
      padding-bottom: cvw(32);
      width: 50%;
      .title {
        font-size: cvw(28);
        margin: 0;
      }
    }

    &:nth-child(odd) {
      margin: cvw(209) 0;
      .projectMeta {
        align-items: flex-start;
        text-align: start;
        padding-bottom: cvw(24);
      }
    }

    &:last-child {
      height: cvw(426);
      .projectMeta {
        padding-bottom: 0;
      }
    }
  }

  & > div:nth-child(2) {
    img.projectImg {
      transform: translateX(cvw(-80));
    }
  }

  & > div:nth-child(3) {
    img.projectImg {
      transform: translateX(cvw(88));
    }
  }
}

/***** ABOUT ME *****/
.about {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      width: 50%;
      p {
        margin: 0;

        &:first-child {
          margin-bottom: cvw(40);
        }
      }
    }

    .avatar {
      flex: 0 0 auto;
      background-color: lightgrey;
      border-radius: 50%;
      height: cvw(450);
      width: cvw(450);
    }
  }
}

/***** OTHERS *****/
.others {
  padding-bottom: cvw(50);
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: cvw(72);

    .img {
      width: cvw(150);
      height: auto;
      cursor: pointer;
    }
  }
}
