@import '../../variables.scss';

.container {
  padding: cvw(100) $padding;
  background: linear-gradient(180deg, #1d4097 0.47%, #3a8ddb 100%);
  @media screen and (max-width: $break-medium) {
    padding: $padding-medium;
  }

  .title {
    font-weight: bold;
    color: $orange-color;
    position: relative;
    z-index: 1;
    font-size: cvw(32);
    @media screen and (max-width: $break-medium) {
      font-size: cvw(48);
      margin-bottom: cvw(48);
    }
  }

  .text {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);
    font-size: cvw(24);
    line-height: cvw(50);
    margin: cvw(25) 0 cvw(50) 0;
    @media screen and (max-width: $break-medium) {
      font-size: cvw(36);
      line-height: cvw(60);
    }
  }

  .header {
    font-size: cvw(36);
    @media screen and (max-width: $break-medium) {
      font-size: cvw(54);
    }
  }

  img {
    position: relative;
    z-index: 1;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: cvw(887);
    margin-bottom: cvw(53);
    @media screen and (max-width: $break-medium) {
      height: cvw(1200);
    }

    & > div {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: $break-medium) {
        width: unset;
        margin-right: cvw(20);
      }

      & div:nth-child(3) {
        margin-bottom: cvw(25);
      }

      .text {
        margin: 0;
      }
    }

    img {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: cvw(70);
    }

    .header {
      font-size: cvw(36);
      height: cvw(75);
      @media screen and (max-width: $break-medium) {
        font-size: cvw(54);
        margin-bottom: cvw(100);
        height: unset;
      }
    }
  }

  .section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: cvw(1367);
    margin-top: cvw(53);
    margin-bottom: cvw(38);
    @media screen and (max-width: $break-medium) {
      height: unset;
    }

    & > div:first-child {
      width: 100%;
    }

    .rightSide {
      margin-left: cvw(35);
      & > div {
        height: 100% !important;
        width: cvw(250) !important;
        align-self: flex-start;
        @media screen and (max-width: $break-medium) {
          width: cvw(368.64) !important;
        }
      }
    }
    .leftSide {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .wireframes {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & > div {
          height: cvw(444.67) !important;
          width: cvw(250) !important;
          @media screen and (max-width: $break-medium) {
            width: 24% !important;
            height: unset !important;
          }

          &:last-child {
            width: cvw(252) !important;
            @media screen and (max-width: $break-medium) {
              width: 24% !important;
            }
          }
        }
      }
      .colorsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .colors {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: cvw(38);
          .color {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: cvw(32);
            line-height: cvw(60);
            text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);

            & > div {
              position: relative;
              z-index: 1;
            }

            & > div:first-child {
              height: cvw(86);
              width: cvw(86);
              border-radius: cvw(43);
            }
          }
        }
      }
      .fonts {
        & > div:nth-child(2) {
          color: #ffffff;
          text-shadow: cvw(1) cvw(1) cvw(1) rgba(0, 0, 0, 0.7);
          font-size: cvw(28);
          line-height: cvw(60);
          margin: cvw(25) 0 cvw(50) 0;
          @media screen and (max-width: $break-medium) {
            font-size: cvw(42);
          }
          & > div {
            &:first-child {
              margin-bottom: cvw(26);
              @media screen and (max-width: $break-medium) {
                font-size: cvw(39);
              }
            }
            & > div:first-child {
              font-size: cvw(24);
              @media screen and (max-width: $break-medium) {
                font-size: cvw(36);
              }
            }
          }
        }
      }
    }
  }

  .section3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: cvw(53);
    margin-bottom: cvw(150);

    .rightSide {
      & > div {
        margin: cvw(20) 0 0 cvw(28);
        width: cvw(310) !important;
        align-self: flex-start;
        @media screen and (max-width: $break-medium) {
          width: cvw(368.64) !important;
        }
      }
    }

    .leftSide {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      & > div {
        height: cvw(551.39) !important;
        width: cvw(310) !important;
        margin: cvw(20);
        @media screen and (max-width: $break-medium) {
          width: 32% !important;
          height: unset !important;
          margin: cvw(20) 0 0 0;
        }
      }

      & > div:first-child,
      & > div:nth-child(4) {
        margin-left: 0;
      }
    }
  }
}
