@import '../../variables.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: cvw(16);
    line-height: cvw(50);
    color: #ffffff;
  }

  .socials {
    .social {
      position: relative;
      z-index: 1;
      cursor: pointer;
      margin-right: cvw(24);
      height: cvw(30);
      width: cvw(30);

      &:last-child {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    .text {
      font-style: normal;
      font-weight: normal;
      font-size: cvw(32);
      line-height: cvw(56);
      color: #ffffff;
    }

    .socials {
      .social {
        position: relative;
        z-index: 1;
        cursor: pointer;
        margin-right: cvw(24);
        height: cvw(60);
        width: cvw(60);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
  @media screen and (max-width: $break-small) {
    .text {
      font-size: cvw(64);
      line-height: cvw(100);
    }

    .socials {
      .social,
      a {
        display: inline-block;
        margin-right: cvw(50);
        height: cvw(100);
        width: cvw(100);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
