@function cvw($pixels) {
  @return ($pixels / 1920) * 100vw;
}

$orange-color: #f3b541;
$background-color: #2b65b8;
$background-color2: #1f459b;
$padding: cvw(250);
$padding-medium: cvw(100);
$padding-small: cvw(50);
$break-medium: 768px;
$break-small: 576px;
