@import '../../variables.scss';

.navPill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: cvw(80);
  height: cvw(360);
  background-color: $orange-color;
  border-radius: cvw(40);
  position: fixed;
  z-index: 2;
  right: cvw(104);
  justify-content: space-evenly;
  top: 25%;
  @media screen and (max-width: $break-medium) {
    right: cvw(10);
    top: 15%;
  }
  @media screen and (max-width: $break-small) {
    right: cvw(20);
    width: cvw(160);
    height: cvw(720);
    border-radius: cvw(80);
    box-shadow: 0px cvw(20) cvw(30) rgba(0, 0, 0, 0.15);
  }

  div {
    padding: cvw(12);
    border-radius: cvw(32);
    width: cvw(64);
    height: cvw(64);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $break-small) {
      border-radius: cvw(64);
      width: cvw(128);
      height: cvw(128);
    }

    &:hover,
    &.active {
      background-color: #f09b1c;
      @media screen and (max-width: $break-small) {
        background-color: unset;
      }
    }
  }

  svg {
    height: cvw(40);
    width: cvw(40);
    @media screen and (max-width: $break-small) {
      height: cvw(80);
      width: cvw(80);
    }
  }
}
.navPillShort {
  height: cvw(80);
  top: cvw(100);
  @media screen and (max-width: $break-small) {
    height: cvw(160);
  }
}
